{% extends "base.twig" %}

{% block content %}
<div class="row">
	<div class="col-md-6">
		{% block alerts %}
		{% if error %}<div class="alert alert-danger">{{ error }}</div>{% endif %}
		{% endblock %}
		{% if report.result == null %}
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Report blocked email</h3>
			</div>
			<div class="panel-body">
				<form method="post">
					<div class="form-group">
						<label for="comment">Comment <span class="text-muted">(visible to the recipient)</span></label>
						<textarea name="comment" class="form-control">{% if report.comment is defined %}{{report.comment|e}}{% endif %}</textarea>
					</div>
					<button name="report" type="submit" class="btn btn-success pull-right">
						<span class="glyphicon glyphicon-send"></span>
						Notify recipient
					</button>
					<div class="g-recaptcha" data-size="compact" data-sitekey="{{report.recaptcha_sitekey}}"></div>
				</form>
			</div>
		</div>
		{% elseif report.result.found == -1 %}
		<div class="alert alert-info"><strong>Loading...</strong> Please wait while the email is being located.</div>
		<script>setTimeout('location.reload()', 1000);</script>
		{% elseif report.result.found == 0 %}
		<div class="alert alert-danger"><strong>The email couldn't be found!</strong> It might be more than a day since it was sent; we only store blocked email for 24 hours. Please contact the recipient(s) by some other mean.</div>
		{% elseif report.result.found == 1 %}
		<div class="alert alert-success"><strong>Thanks for the report!</strong> The recipient(s) have been notified.</div>
		{% endif %}
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">What has happened?</h3>
			</div>
			<div class="panel-body small">
				<p>
					You probably came to this web page because
					your email was blocked by the spam filter,
					and pressed the link in the error report you
					received. <strong>We're very sorry that your
					email was blocked.</strong>
				</p>
				<p>
					Please provide some information about
					what was in your email and press
					the "Notify recipient" button. If the email 
					was sent within 24 hours from now, the recipient(s) will
					receive an email with a link that allows them
					to release your email.
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
